<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-05-03-newblog.md</key>
			<dict>
				<key>lastModification</key>
				<real>479552091.63299698</real>
				<key>version</key>
				<dict>
					<key>aee8fe7e5093ec8c6e591348e6f21b3f29572c8f6674a35de612f84a34b3d2dd</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2015-05-03-newblog副本.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>479552085.464881</real>
				<key>lastModification</key>
				<real>479552091.63300002</real>
				<key>version</key>
				<dict>
					<key>aee8fe7e5093ec8c6e591348e6f21b3f29572c8f6674a35de612f84a34b3d2dd</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2016-03-13-mailappoutlook.md</key>
			<dict>
				<key>lastModification</key>
				<real>479552165.971551</real>
				<key>version</key>
				<dict>
					<key>aee8fe7e5093ec8c6e591348e6f21b3f29572c8f6674a35de612f84a34b3d2dd</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-05-03-newblog.md</string>
		</array>
		<array>
			<string>2016-03-13-mailappoutlook.md</string>
		</array>
		<array>
			<string>2015-05-03-newblog副本.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>aee8fe7e5093ec8c6e591348e6f21b3f29572c8f6674a35de612f84a34b3d2dd</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
